:root {
  --title-color: #212121;
  --text-color: #757575;
  --hover-color: #2196f3;
  --button-hover-color: #188ce8;
  --background-color-dark: #2f303a;
  --white-color: #ffffff;
  --background-color-light: #f5f4fa;
  --card-set-gap: 30px;
  --hero-background-color: #2f303a40;
  --svg-color: #afb1b8;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--title-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Хедер */

.header {
  border-bottom: 1px solid #ececec;
}

.topline {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  color: var(--title-color);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo > span {
  color: var(--hover-color);
}

.logo:hover,
.logo:focus {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.15);
}

.menu-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-list {
  display: flex;
}

.nav-list li:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.activ-nav::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--hover-color);
}

.activ-nav {
  color: var(--hover-color);
}

.contacts {
  display: flex;
  justify-content: end;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact:hover,
.contact:focus {
  color: var(--hover-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Секция Герой */

.hero {
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  /* background-color: var(--background-color-dark); */

  background-image: linear-gradient(
      to top,
      var(--hero-background-color),
      var(--hero-background-color)
    ),
    url('../images/hero-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  background-color: var(--hover-color);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-hover-color);
}

/* Особенности */

.special {
  padding-top: 94px;
}

/* Плохая практика!!! Не читабельно для ассистива */
.visualy-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.special-list {
  display: flex;
  padding: 0;
  justify-content: space-between;
}

.special-item {
  max-width: 270px;
}

.special-icon {
  background-color: var(--background-color-light);
  margin-bottom: 30px;
  /* padding: 25px 100px; */
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.special-icon svg {
  max-width: 70px;
  max-height: 70px;
  display: block;
}

.special-item h3 {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.special-item p {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Чем мы занимаемся */
.business {
  padding-top: 94px;
  padding-bottom: 94px;
}

.business-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.business-list {
  display: flex;
  justify-content: space-between;
}

.card-label {
  position: relative;
  max-height: 294px;
}

.card-description {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: #2f303a80;
}

/* Наша команда */

.team {
  background-color: var(--background-color-light);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  background-color: var(--white-color);
  width: 270px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-item h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-item p {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--svg-color);
  width: 44px;
  height: 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:focus,
.team-social-link:hover,
.team-social-link:active {
  background-color: var(--hover-color);
  fill: var(--white-color);
}

/* Наши клиенты */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--title-color);
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item {
  margin-right: 30px;
}

.clients-item:last-child {
  margin-right: 0;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--svg-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  color: var(--svg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus,
.client-link:active {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* Футтер */

.footer {
  background-color: var(--background-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  color: var(--white-color);
  margin-bottom: 20px;
  margin-right: 0;
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo:hover,
.footer-logo:focus {
  text-shadow: 0px 4px 4px rgba(117, 117, 117, 0.4), 0px 4px 4px rgba(117, 117, 117, 0.4),
    0px 4px 4px rgba(117, 117, 117, 0.4);
}

.address {
  font-style: normal;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address p {
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address p:hover,
.address p:focus {
  color: var(--hover-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-item a {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item a:hover,
.address-item a:focus {
  color: var(--hover-color);
}

/* Соцсети в футере */
.social {
  margin-left: 70px;
}

.social-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.social-list {
  display: flex;
}

.social-item {
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--white-color);
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: var(--hover-color);
}

.social-icon {
  width: 20px;
  height: 20px;
}

/* Подписаться на рассылку в футере*/

.subscribe {
  margin-left: auto;
}

.subscribe-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.subscribe input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-color-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px;
  margin-right: 12px;
  outline: 0;
}

.footer-button {
  font-family: inherit;
  background-color: var(--hover-color);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
  cursor: pointer;
  padding: 10px 29px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--button-hover-color);
}

.send-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* Портфолио */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Кнопки */

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-btn {
  font-family: inherit;
  font-weight: 500;
  background: var(--background-color-light);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--hover-color);
  color: var(--white-color);
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.aktiv-btn {
  background: var(--hover-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Наши проекты */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.projects-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.projects-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover,
.projects-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-image {
  display: block;
  max-width: 100%;
}

.project-label {
  position: relative;
  overflow: hidden;
}

.label-description {
  position: absolute;
  top: 0;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px 24px;
  opacity: 0;

  transform: translateY(100%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover .label-description,
.projects-link:focus .label-description {
  opacity: 1;
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

.project-description {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.description-article {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  /* transform: translate(-50%, -50%) scale(0.8); */
  transform: translate(-50%, -50%) translateY(500px);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  /* transform: translate(-50%, -50%) scale(1); */
  transform: translate(-50%, -50%) translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid #00000010;
  background-color: white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--hover-color);
}

.close-btn-icon {
  width: 11px;
  height: 11px;
}

/* Форма модального окна */

.modal-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  color: var(--text-color);
}

.modal-label {
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  margin-top: 10px;
}

.input-area {
  width: 448px;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-area:focus,
.input-area:hover {
  outline: 0;
  border-color: var(--hover-color);
}

.modal-icon {
  position: absolute;

  left: 15px;
  top: 32px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-area:focus + .modal-icon,
.input-area:hover + .modal-icon {
  fill: var(--hover-color);
}

.feedback-area {
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;

  resize: none;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-area:focus,
.feedback-area:hover {
  outline: 0;
  border-color: var(--hover-color);
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox-label a {
  margin-left: 4px;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:focus + .checkbox-icon {
  border-color: var(--hover-color);
}

.checkbox-input:checked + .checkbox-icon {
  background-origin: border-box;
  background-color: var(--hover-color);
  border-color: transparent;
}

.contract-conditions {
  color: var(--hover-color);
  text-decoration: underline;
}

.submit-button {
  padding: 10px 56px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;

  background-color: var(--hover-color);
  color: var(--white-color);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--button-hover-color);
}
